<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>FORM TEST</title>
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>
  </head>
  <body>
    <h1>Form</h1>
    <form
      id="uploadForm"
      method="post"
      action="/form"
      enctype="multipart/form-data"
    >
      <label for="title">Title</label>
      <input
        type="text"
        name="title"
        id="title"
        placeholder="Enter art title"
      />
      <br />
      <label for="artist">Artist</label>
      <input
        type="text"
        name="artist"
        id="artist"
        placeholder="Enter artist name"
      />
      <br />
      <label for="description">Description</label>
      <textarea
        name="description"
        id="description"
        placeholder="Enter art description"
      ></textarea>
      <br />
      <label for="type">Type</label>
      <input type="text" name="type" id="type" placeholder="Enter art type" />
      <br />
      <label for="image">Image</label>
      <input type="file" name="image" id="image" />
      <br />
      <label for="year">Year</label>
      <input type="text" name="year" id="year" placeholder="Enter art year" />
      <br />
      <input type="submit" value="Send" />
    </form>
  </body>
  <ul>
    <% artworks.forEach((artwork) => { %>
      <li>
        <h2><%= artwork.title %></h2>
        <p><%= artwork.description %></p>
        <p><%= artwork.type %></p>
        <p><%= artwork.year %></p>
        <img src="<%= artwork.image %>" alt="<%= artwork.title %>" />
      </li>
    <% }); %>
  </ul>


</html>
