<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stat</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="navbar">
      <div class="header">
        <div class="museum-name">A HYPOTHETICAL MUSEUM</div>
        <div class="manager" style="padding-left: 10px">admin@museum.com</div>
      </div>
      <div class="toggle_btn">
        <div class="toggle">
          <span></span>
          <span></span>
        </div>
      </div>
    </div>

    <div class="overlay"></div>
    <div class="dropdown-menu">
      <div class="container">
        <div class="map-title">
          <h1>Map</h1>
        </div>
        <div class="grid">
          <a href="/manager">
            <div class="mb-4">Main Hall</div>
          </a>
          <a href="/overall">
            <div class="mb-4">Featured Collection</div>
          </a>
          <a href="/logout/">
            <div class="mb-4">Log out</div>
          </a>
        </div>
      </div>
    </div>

    <div style="margin-top: 100px">
      <h2 class="d-flex justify-content-center p-3">Artworks management</h2>
    </div>
    <div class="container">
      <form
        class="border border-secondary-subtle rounded p-3 my-2"
        id="uploadForm"
        method="post"
        action="/api/art/create"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="title"
            id="title"
            placeholder="Enter art title"
            class="form-control"
            required
          />
        </div>
        <div class="mb-3">
          <label for="artist" class="form-label">Artist</label>
          <input
            type="text"
            name="artist"
            id="artist"
            placeholder="Enter artist name"
            class="form-control"
            required
          />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="description"
            id="description"
            cols="30"
            rows="5"
            class="form-control"
            required
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="type" class="form-label">Type</label>
          <select name="type" id="type" class="form-select" required>
            <option value="painting">Painting</option>
            <option value="sculpture">Sculpture</option>
            <option value="photography">Photography</option>
            <option value="other">Other</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Image</label>
          <input
            type="file"
            name="image"
            id="image"
            class="form-control"
            required
          />
        </div>
        <div class="mb-3">
          <label for="year" class="form-label">Year</label>
          <input
            type="text"
            name="year"
            id="year"
            placeholder="Enter art year"
            class="form-control"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Artist</th>
            <th scope="col">Type</th>
            <th scope="col">Description</th>
            <th scope="col">Year</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <% artworks.forEach((artwork, index)=> { %>
          <form
            class="remove-artwork-form"
            action="/api/art/delete/<%= artwork._id %>"
            method="post"
          >
            <tr data-artwork-id="<%= artwork._id %>">
              <th scope="row"><%= index + 1 %></th>
              <td class="title-cell limited-width"><%= artwork.title %></td>
              <td class="artist-cell limited-width"><%= artwork.artist %></td>
              <td class="type-cell limited-width"><%= artwork.type %></td>
              <td class="description-cell limited-width">
                <%= artwork.description %>
              </td>
              <td class="year-cell limited-width"><%= artwork.year %></td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary edit-button"
                  onclick="editArtwork('<%= artwork._id %>')"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-pencil"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"
                    ></path>
                  </svg>
                  Edit
                </button>
                <button type="submit" class="btn btn-outline-danger">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-trash3"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"
                    />
                  </svg>
                  Delete
                </button>
              </td>
            </tr>
          </form>
          <% }); %>
        </tbody>
      </table>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
      function editArtwork(artworkId) {
        var row = document.querySelector(
          '[data-artwork-id="' + artworkId + '"]'
        );

        var titleCell = row.querySelector(".title-cell");
        var artistCell = row.querySelector(".artist-cell");
        var typeCell = row.querySelector(".type-cell");
        var yearCell = row.querySelector(".year-cell");
        var descriptionCell = row.querySelector(".description-cell");

        titleCell.innerHTML =
          '<input type="text" value="' + titleCell.innerText + '">';
        artistCell.innerHTML =
          '<input type="text" value="' + artistCell.innerText + '">';
        typeCell.innerHTML =
          '<input type="text" value="' + typeCell.innerText + '">';
        yearCell.innerHTML =
          '<input type="text" value="' + yearCell.innerText + '">';
        descriptionCell.innerHTML =
          "<textarea>" + descriptionCell.innerText + "</textarea>";

        var editButton = row.querySelector(".edit-button");
        editButton.innerText = "Save";
        editButton.onclick = function () {
          saveArtwork(artworkId);
        };
      }

      function saveArtwork(artworkId) {
        var row = document.querySelector(
          '[data-artwork-id="' + artworkId + '"]'
        );

        var title = row.querySelector(".title-cell input").value;
        var artist = row.querySelector(".artist-cell input").value;
        var type = row.querySelector(".type-cell input").value;
        var year = row.querySelector(".year-cell input").value;
        var description = row.querySelector(".description-cell textarea").value;

        var updatedArtwork = {
          _id: artworkId,
          title: title,
          artist: artist,
          type: type,
          year: year,
          description: description,
        };

        row.querySelector(".title-cell").innerHTML = title;
        row.querySelector(".artist-cell").innerHTML = artist;
        row.querySelector(".type-cell").innerHTML = type;
        row.querySelector(".year-cell").innerHTML = year;
        row.querySelector(".description-cell").innerHTML = description;

        $.ajax({
          url: "/api/art/update/" + artworkId,
          method: "PUT",
          data: JSON.stringify(updatedArtwork),
          headers: {
            "Content-Type": "application/json",
          },
          success: function (response) {
            console.log(response);

            var editButton = row.querySelector(".edit-button");
            editButton.innerHTML =
              '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16"><path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/></svg> Edit';
            editButton.onclick = function () {
              editArtwork(artworkId);
            };
          },
          error: function (jqXHR, textStatus, errorThrown) {
            console.error(textStatus, errorThrown);
            alert(
              "An error occurred while trying to update the artwork. Please try again later."
            );
          },
        });
      }
    </script>
  </body>
  <style>
    .limited-width {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    :root {
      --timing: 200ms;
      --z-index: 999;
    }

    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    body.close {
      overflow: hidden;
    }

    /* Navbar */
    .navbar {
      width: 100vw;
      height: 90px;
      background-color: #333333;
      position: fixed;
      top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1%;
    }

    .header {
      color: #ffffff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 380px;
      padding-left: 10px;
    }

    .museum-name {
      font-size: larger;
    }

    .manager {
      font-size: smaller;
      color: #b6b6b6;
    }

    .toggle_btn {
      z-index: 99999;
    }

    .toggle {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      position: relative;
    }

    .toggle span {
      position: absolute;
      width: 40%;
      height: 2px;
      border-radius: 4px;
      transition: 0.5s;
      background-color: #ffffff;
    }

    .toggle span:nth-child(1) {
      transform: translateY(-8px);
      left: 15px;
    }

    .toggle.active span:nth-child(1) {
      transform: translateY(0px) rotate(-45deg);
    }

    .toggle span:nth-child(2) {
      transform: translateY(8px);
      left: 15px;
    }

    .toggle.active span:nth-child(2) {
      transform: translateY(0px) rotate(45deg);
    }

    /* over-lay */
    .overlay {
      background-color: rgba(0, 0, 0, 0.6);
      position: fixed;
      display: flex;
      justify-content: center;
      min-height: 100vh;
      min-width: 100vw;
      opacity: 0;
      z-index: -1;
      top: 90px;
    }

    .overlay.open {
      opacity: 1;
      z-index: 1001;
    }

    /* map container */
    .map-title {
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
    }

    .grid {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      row-gap: 1.25rem;
      column-gap: 1.25rem;
    }

    .mb-4 {
      height: auto;
      width: 100%;
      border: 2px solid #fff;
      color: #fff;
      font-size: 1.25em;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px;
    }

    /* dropdown-menu */
    .dropdown-menu {
      width: 1000px;
      height: 450px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: var(--timing) ease-in;
      pointer-events: none;
    }

    .dropdown-menu.open {
      z-index: 1002;
      opacity: 1;
      pointer-events: auto;
    }

    .dropdown-menu li {
      list-style: none;
      overflow: hidden;
    }

    .dropdown-menu a {
      text-decoration: none;
      color: white;
      font-size: 1rem;
    }
  </style>

  <script>
    const toggleBtn = document.querySelector(".toggle_btn");
    const dropDownMenu = document.querySelector(".dropdown-menu");
    const overlay = document.querySelector(".overlay");
    const body = document.querySelector("body");

    toggleBtn.onclick = function () {
      dropDownMenu.classList.toggle("open");
      overlay.classList.toggle("open");
      body.classList.toggle("close");
    };

    let menutoggle = document.querySelector(".toggle");
    menutoggle.onclick = function () {
      menutoggle.classList.toggle("active");
    };

    function showGallery(evt, galleryName) {
      var i, gallery, tablinks;
      gallery = document.getElementsByClassName("gallery");
      for (i = 0; i < gallery.length; i++) {
        gallery[i].style.display = "none";
      }

      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

      document.getElementById(galleryName).style.display = "grid";
      evt.currentTarget.className += " active";
    }

    document.addEventListener("DOMContentLoaded", function () {
      const artwork1s = document.querySelectorAll(".artwork1");

      artwork1s.forEach(function (artwork1) {
        artwork1.addEventListener("mouseenter", function () {
          const information = artwork1.querySelector(".information");
          information.classList.add("open");
        });

        artwork1.addEventListener("mouseleave", function () {
          const information = artwork1.querySelector(".information");
          information.classList.remove("open");
        });
      });
    });
  </script>
</html>
