<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stat</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<link rel="stylesheet" href="/client/css/manager.css">
</head>

<body>
  <!-- Top Buttons -->
  <div class="container">
    <div class="row ">
      <div class="col my-2"><button class="btn btn-primary w-100" type="button" data-bs-toggle="modal"
          data-bs-target="#newArtworkModal">New Artwork</button></div>
      <div class="col my-2"><button class="btn btn-danger w-100">Delete Artwork</button></div>
    </div>
  </div>

  <!-- Add New Artwork Modal -->
  <div class="modal fade" id="newArtworkModal" tabindex="-1" aria-labelledby="newArtworkModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="newArtworkModalLabel">Add New Artwork</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="border border-secondary-subtle rounded p-3 my-2" id="uploadForm" method="post" action="/form"
            enctype="multipart/form-data">

            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" name="title" id="title" placeholder="Enter art title" class="form-control">
            </div>
            <div class="mb-3">
              <label for="artist" class="form-label">Artist</label>
              <input type="text" name="artist" id="artist" placeholder="Enter artist name" class="form-control">
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea name="description" id="description" cols="30" rows="5" class="form-control"></textarea>
            </div>
            <div class="mb-3">
              <label for="type" class="form-label">Type</label>
              <input type="text" name="type" id="type" placeholder="Enter art type" class="form-control">
            </div>
            <div class="mb-3">
              <label for="image" class="form-label">Image</label>
              <input type="file" name="image" id="image" class="form-control">
            </div>
            <div class="mb-3">
              <label for="year" class="form-label">Year</label>
              <input type="text" name="year" id="year" placeholder="Enter art year" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Artwork Modal -->
  <div class="modal fade" id="editArtworkModal" tabindex="-1" aria-labelledby="editArtworkModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="EditArtworkModalLabel">Edit Artwork Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="border border-secondary-subtle rounded p-3 my-2" id="uploadForm" method="post"
            action="/api/art/update/artwork:id" enctype="multipart/form-data">

            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" name="title" id="title" placeholder="Enter art title" class="form-control">
            </div>
            <div class="mb-3">
              <label for="artist" class="form-label">Artist</label>
              <input type="text" name="artist" id="artist" placeholder="Enter artist name" class="form-control">
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea name="description" id="description" cols="30" rows="5" class="form-control"></textarea>
            </div>
            <div class="mb-3">
              <label for="type" class="form-label">Type</label>
              <input type="text" name="type" id="type" placeholder="Enter art type" class="form-control">
            </div>
            <div class="mb-3">
              <label for="image" class="form-label">Image</label>
              <input type="file" name="image" id="image" class="form-control">
            </div>
            <div class="mb-3">
              <label for="year" class="form-label">Year</label>
              <input type="text" name="year" id="year" placeholder="Enter art year" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Table -->
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Artist</th>
          <th scope="col">Type</th>
          <th scope="col">Year</th>

          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% artworks.forEach((artwork)=> { %>
          <tr>
            <th scope="row">1</th>
            <td>
              <%= artwork.title %>
            </td>
            <td>
              <%= artwork.artist %>
            </td>
            <td>
              <%= artwork.type %>
            </td>
            <td>
              <%= artwork.year %>
            </td>
            <td>
              <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#editArtworkModal"
                data-bs-title="<%= artwork.title %>" data-bs-artist=" <%= artwork.artist %>"
                data-bs-description="<%= artwork.description %>" data-bs-type="<%= artwork.type %>"
                data-bs-year="<%= artwork.year %>">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
                  viewBox="0 0 16 16">
                  <path
                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325">
                  </path>
                </svg>
                Edit
              </button>
              <button type="button" class="btn btn-outline-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3"
                  viewBox="0 0 16 16">
                  <path
                    d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                </svg>
                Delete
              </button>
            </td>
          </tr>
          <% }); %>

            </tr>
            </thead>
    </table>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script>
    const editArtworkModal = document.getElementById('.editArtworkModal')
    if (editArtworkModal) {
      editArtworkModal.addEventListener('show.bs.modal', event => {
        // Button that triggered the modal
        const button = event.relatedTarget
        // Extract info from data-bs-* attributes
        const artworkTitle = button.getAttribute('data-bs-title')
        const artworkArtist = button.getAttribute('data-bs-artist')
        const artworkDescription = button.getAttribute('data-bs-description')
        const artworkType = button.getAttribute('data-bs-type')
        const artworkYear = button.getAttribute('data-bs-year')

        console.log(artworkTitle)

        // Update the modal's content.
        const editTitle = document.getElementById('title')
        const editArtist = editArtworkModal.querySelector('.artist')
        const editDescription = editArtworkModal.querySelector('.description')
        const editType = editArtworkModal.querySelector('.type')
        const editYear = editArtworkModal.querySelector('.year')

        editTitle.value = artworkTitle
        editArtist.value = artworkArtist
        editDescription.value = artworkDescription
        editType.value = artworkType
        editYear.value = artworkYear
      })
    }
  </script>
</body>

</html>