<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal Collection</title>
    <link rel="stylesheet" href="/css/personal-collection.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="overlay"></div>
    <div class="dropdown-menu">
      <div class="container">
        <div class="map-title">
          <h1>Map</h1>
        </div>
        <div class="grid">
          <a href="/">
            <div class="mb-4">Main Hall</div>
          </a>
          <a href="">
            <div class="mb-4">Featured Collection</div>
          </a>
          <a href="">
            <div class="mb-4">Collection Name</div>
          </a>
          <a href="">
            <div class="mb-4">Information Desk</div>
          </a>
          <a href="">
            <div class="mb-4">Collection Name</div>
          </a>
          <a href="/personal-collection">
            <div class="mb-4">Personal Collection</div>
          </a>
        </div>
      </div>
    </div>

    <div class="toggle_btn">
      <div class="toggle">
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="content">
      <header>
        <!-- <h1><%= JSON.stringify(user,null,2) %></h1> -->
        <img
          class="profile-picture"
          src="<%= user.picture %>"
          alt="profile picture"
        />
        <h1><%= user.name %></h1>
        <a href="/art-showcase">Art Showcase</a>
      </header>
      <div class="tabs">
        <div class="like tablinks active" onclick="showGallery(event, 'like')">
          <i class="fa-regular fa-heart"></i> <span id="LIKE">Like</span>
        </div>
        <div class="bookmark tablinks" onclick="showGallery(event, 'bookmark')">
          <i class="fa-regular fa-bookmark"></i>
          <span id="BOOKMARK">Bookmark</span>
        </div>
        <div class="insert tablinks" onclick="showGallery(event, 'insert')">
          Collection
        </div>
      </div>
      <div class="gallery" id="like">
        <% artworks.forEach((artwork) => { %> <% if
        (artwork.likes.includes(user.sid)) { %>
        <div class="artwork1">
          <img src="<%= artwork.image %>" alt="Starry Night" />
          <div class="information">
            <div class="information-box">
              <div><%= artwork.title %></div>
              <div><%= artwork.description %></div>
            </div>
          </div>
        </div>
        <% } %> <% }) %>
      </div>

      <div class="gallery" id="bookmark">
        <% artworks.forEach((artwork) => { %> <% if
        (artwork.bookmarks.includes(user.sid)) { %>
        <div class="artwork1">
          <img src="<%= artwork.image %>" alt="Starry Night" />
          <div class="information">
            <div class="information-box">
              <div><%= artwork.title %></div>
              <div><%= artwork.description %></div>
            </div>
          </div>
        </div>
        <% } %> <% }) %>
      </div>

      <div class="gallery" id="insert">
        <% collections.forEach((collection) => { %> <% if
        (collection.user.toString() === user.sid.toString()) { %>
        <div class="collection">
          <div class="collection-name">
            <h2><%= collection.name %></h2>
            <i class="fa-solid fa-angle-down arrow-down-icon"></i>
          </div>
          <div class="artworks">
            <% collection.artwork.forEach((artwork) => { %>
            <div class="artwork1" style="width: 300px; height: 300px">
              <img
                style="width: 300px; height: 300px"
                src="<%= artwork.image %>"
                alt="Starry Night"
              />
              <div class="information">
                <div class="information-box">
                  <div><%= artwork.title %></div>
                  <div><%= artwork.description %></div>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
        <% } %> <% }) %>
      </div>
    </div>
    <script src="/js/manager.js"></script>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
